.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.store-item-img { 
  max-width: 192px;
  max-height: 192px;
  width: 67%;
  height: 67%;
}

.store-page-img { 
  max-width: 480px;
  max-height: 480px;
  width: 67%;
  height: 67%;
}

.mainlist {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.sublist {
  font-size: 14px;
  font-style: italic;
  color: grey;
  display: inline-block;

}

home-div { 
	text-align: center;
}