nav.navigation > * { 
    display: inline;
    padding: 8px;
}

nav > * { 
    color: rgb(238, 238, 238);
    font-weight: bold;
}

.nav-div { 
	background-color: rgb(57, 124, 201);
	padding: 24px;
	font-size: x-large;

}

.nav-div > * > a { 
	text-decoration: none;
	background-color: rgb(72, 146, 230);
	margin-left: 16px;
	margin-right: 16px;
	border-radius: 6px;
	padding: 12px;
	padding-left: 16px;
	padding-right: 16px;
	/* border-style: solid; */
	/* border-color: rgb(0, 0, 0); */
	/* box-shadow: 1px 1px 5px; */
}